body {
    margin: 0;
    padding: 0;
}

i {
    margin: 0 7px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-parent;
    height: 50px;
    border-bottom: 1px solid rgb(204, 200, 200);
    padding: 20px 50px;
}

header a{
    color: initial;
    text-decoration: none;
}

nav a {
    text-decoration: none;
}

nav a i:hover {
    color: purple;
    transition: 0.3s;
}

.violet {
    color:rgb(100 92 255);
}

main {
    width: 100%;
    height: 1000px;
    background-color: rgb(238, 240, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

#addTask {
    width: 440px;
    background-color: white;
    padding: 30px;
}

.shadow {
    box-shadow: 3px 3px 5px #88888857;
}

#addBtn {
    background-color: rgb(100 92 255) ;
    padding: 7px 40px;
    margin-left: 0;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#taskInput {
    margin-right: -4px;
    background-color: rgb(238, 240, 241);
    padding: 7px 12px;
    width: 300px;
    border: none;
    border-radius: 5px 0 0 5px ;
}

h2 {
    text-align: center;
    font-size: 2em;
    margin-top: 0;
}

span.errorMsg {
    margin-top: 20px;
    color: rgb(194, 4, 4);
    font-size: 0.8em;
}

#tasksList {
    margin-top: 100px;
    width: 500px;
    padding: 0;
}

#tasksList div {
    width: fit-parent;
    background-color: white;
    padding: 25px 40px;
    margin-bottom: 30px;
    box-shadow: 3px 3px 5px #88888857;
    font-weight: 700;
}

#tasksList div i {
    float:right;
}

#tasksList div input {
    appearance: none;
}

#tasksList div input:checked + label {
    text-decoration: line-through;
    color: red;
}

#tasksList div input:checked::before {
    content: "\2713";
    color: red;
    font-weight: 900;
}

/* EDIT PAGE SPECIFIC */

#editWindow {
    width: 440px;
    background-color: white;
    padding: 30px;
}

#editBtn {
    background-color: rgb(100 92 255) ;
    border: none;
    color: white;
    width: 100%;
    padding: 5px;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
}

button:hover:not(#backBtn){
    background-color: purple;
    transition: 0.3s;
} 

#editWindow div {
    margin-bottom: 10px;
}

#taskID {
    border: none;
}

#name {
    background-color: rgb(238, 240, 241);
    border: none;
    font-weight: 600;
}

#editWindow div label {
    display: inline-block;
    width: 150px;
    padding: 5px;
    font-weight: 700;
}

#editWindow div input {
    padding: 5px;
}

#editWindow div input[type=checkbox] {
    margin-left: 90px;
}

#editWindow .errorMsg {
    display: block;
    text-align: center;
}

#backBtn {
    background-color: rgba(0, 0, 0, 0.815);
    color: white;
    padding: 10px 60px;
    font-size: 1.4em;
    border: none;
    border-radius: 5px 5px 5px 5px;
    margin-top: 150px;
    cursor: pointer;
}

#backBtn:hover {
    background-color: rgba(0, 0, 0, 0.514);
    cursor: pointer;
    transition: 0.3s;
}



