body {
    background: url(https://images.pexels.com/photos/12590582/pexels-photo-12590582.jpeg?cs=srgb&dl=pexels-alice-marie-12590582.jpg&fm=jpg);
    background-position: center;
}

#container {
    box-shadow: 2px 2px 2px 2px gray;
    width: auto;
    height: fit-content;
    margin: 0 20%;
    border-bottom: 10px wavy black;
    background-color: rgba(240, 248, 255, 0.664);
}

header {
    background-color: papayawhip;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    padding: 0 30px;
    border-bottom: 2px solid rgba(211, 211, 211, 0.658);
}

#photo {
    height: 150px;
    width: 150px;
    background-color: rgb(182, 182, 182);
    border-radius: 50%;
    background: url(./etc/dog.png);
    background-size: cover;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.336);
    animation: spin 0.5s linear ;
}

#info {
    width: 45%;
}

main {
    padding: 2em 3em;
    text-align: center;
}

section > h1 {
    font-size: xx-large;
}

#skillsLayout {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: larger;

}

.yay {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    margin-right: 12px;
}

.nay {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid black;
    margin-right: 12px;
}

#right {
    padding-top: 24px;
}

#right > div {
    margin-bottom: 10px;
}

#skills {
    padding-top: 50px;
}

#summary > p{
    padding-top: 40px;
    font-size: large;
}

#nonsense {
    margin-top: -10px;
    font-style: italic;
    font-size: 0.8em;
}

* {
    transition: 0.4s;
}

#photo {
    animation: spin 0.3s linear ;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 767px) {
    
    #container {
        margin: 0 5%;
    }
    
    header {
        flex-direction: column;
        padding: 10px 30px;
    }
    
    #info {
        text-align: center;
        width: auto;
    }
    
}

#photo:hover {
    animation: shake 0.2s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
